<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mnaMasaustuDeneme.Properties.Settings.ConnectionString"
            connectionString="Data Source=MN-MAHMUT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="mnaMasaustuDeneme.Properties.Settings.musterilerConnectionString"
            connectionString="Data Source=MN-Mahmut;Initial Catalog=musteriler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="mnaMasaustuDeneme.Properties.Settings.musterilerYeniConnectionString"
            connectionString="Data Source=MN-Mahmut;Initial Catalog=musterilerYeni;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>